<!-- Page Wrapper -->

<div class="mx-auto md:w-2/3 w-full py-10">
  <!-- Title -->
  <h1 class="text-3xl font-bold text-center mb-8">Suas turmas</h1>

  <!-- Classes Section -->
  <div class="">
    <!-- Title for Classes List -->

    <!-- List of Classes -->
    <ul class="space-y-4">

      <% @classes.each_with_index do |klass, i| %>

        <!-- Class 1 -->
          <li class="border border-base-100 rounded-lg p-4">
            <%= link_to(dashboard_class_tasks_path(id: klass.id), class: "underline") do %>
              <h3 class="text-xl font-semibold hover:text-blue-300">Turma <%= i+1 %>: <%= klass.identifier %></h3>
            <% end %>
            <p class="text-gray-300">Tarefas para essa turma:</p>

            <!-- List of Tasks for Class 1 -->
            <ul class="pl-4 list-disc text-gray-300">
              <% klass.tasks.each do |task| %>
                <% subs = task.submissions.where(student: @student)%>
                <% complete = 0 %>
                <% subs.each do |sub| %>
                  <% complete += 1 if sub.corrections.count <= sub.corrections.where(passed: true).count %>
                <% end %>
                <li class="<%= complete >= 1 ? "text-green-500" : "text-red-500" %>"><%= task.title %></li>
              <% end %>

            </ul>
          </li>
        <div>

        <% end %>
    </ul>
        </div>
  </div>
