<main class="bg-gray">
  <!--Seção Container-->
  <div class="sm:flex block h-screen bg-base-200">

    <!--Seção Container Formulario-->
    <div class="w-full px-10">

      <div role="alert" class="alert alert-error mt-3 <%= "hidden" if !@errors.present? %>" style="margin-bottom: -70px">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <ul>
          <% @errors&.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>

      <div class="h-full flex flex-col m-auto justify-center" style="max-width: 700px">
        <div class="text-center mb-10">
            <h1 class="text-6xl font-extrabold text-white retro-text">CideClasse</h1>
        </div>

        <%= form_with url: sessions_path do |form| %>
          <div class="my-5">
            <%= form.label :Usuário%>
            <%= form.text_field :identifier, class: "block rounded-md border border-base-300 outline-none px-3 py-2 mt-2 w-full", value: @attrs[:identifier]%>
          </div>

          <div class="my-5">
            <%= form.label :Senha %>
            <%= form.password_field :password, class: "block rounded-md border border-base-300 outline-none px-3 py-2 mt-2 w-full", value: @attrs[:password] %>
          </div>

          <div class="inline">
            <%= form.submit "Logar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
