<main class="bg-gray">
  <!--Seção Container-->
  <div class="container  flex  h-screen  bg-gray">
    <div class="bg-purple w-8/12 flex justify-center items-center flex-col"> 
      <h1 class="font-bold text-4xl bg-purple  text-6xl font-bold  text-white justify-center  text-center">Bem vindo ao <br>Cide Classe</h1>
      <img class="img-form bg-purple" src="/grupo.png"/>
    </div>

    <!--Seção Container Formulario-->
    <div  class="container_login ml-20 w-2/4 text-white bg-gray ">
      <div role="alert" class="alert alert-error mt-3 <%= "hidden" if !@errors.present? %>" style="margin-bottom: -70px">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <ul>
          <% @errors&.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>

      <div class="h-full flex flex-col justify-center">
        <h1 class="font-bold text-4xl">Login</h1>

        <%= form_with url: sessions_path do |form| %>
          <div class="my-5">
            <%= form.label :Usuário%>
            <%= form.text_field :identifier, class: "block shadow  bg-gray rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", value: @attrs[:identifier]%>
          </div>

          <div class="my-5">
            <%= form.label :Senha %>
            <%= form.password_field :password, class: "block shadow bg-gray rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", value: @attrs[:password] %>
          </div>

          <div class="inline">
            <%= form.submit "Logar", class: " btn  bg-purple text-white p-padrao rounded-xl h-12 inline-block font-medium cursor-pointer" %>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</main>
