<main class="p-10">

<div class="mx-auto md:w-2/3 w-full">
  <% if @errors&.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with url: session_create_password_path do |form| %>
      <h1 class="font-bold text-4xl text-white text-center p-7">Registro de nova Senha</h1>
      <!--font-bold text-4xl text-gray text-center p-7-->
    <section class="flex flex-col gap-y-3 ">
      <%= form.label :password, "Nova Senha"%>
      <%= form.password_field :password, class: "block w-80 rounded-md border border-base-100 outline-none px-3 py-2 mt-2 w-full", value: @attrs[:password] %>
    <section class="inline">
      <%= form.submit "Cadastrar Senha", class: "mt-4 btn btn-primary" %>
    </section>
  <% end %>
</main>
