<%= form_with(model: task, class: "contents", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title, class: "block rounded-md border border-base-100 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :problem, "Problema" %>
    <%# <%= form.text_field :problem, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <div class="bg-white text-black p-2 rounded">
      <%= form.rich_text_area :problem %>
    </div>
  </div>

  <template data-nested-form-target="template">
    <div>
      <%= form.fields_for :tests, Test.new, child_index: 'NEW_RECORD' do |test_fields| %>
        <%= render "test_form", f: test_fields %>
      <% end %>
    </div>
  </template>

  <div>
    <%= form.fields_for :tests do |test_fields| %>
      <%= render "test_form", f: test_fields %>
    <% end %>
  </div>

  <div data-nested-form-target="target"></div>

  <button class="btn btn-secondary block ml-auto" type="button" data-action="nested-form#add">Adicionar teste</button>

  <div class="inline">
    <%= form.submit "#{task.persisted? ? "Editar" : "Criar"} Tarefa", class: "btn btn-primary" %>
  </div>
<% end %>
