<div class="mx-auto w-4/5 w-full pt-10">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @task %>

    <br>
    <br>

    <div class="flex">
      <%= link_to "Editar", edit_task_path(@task), class: "btn btn-outline btn-primary" %>
      <%= link_to "Voltar", tasks_path, class: "ml-1 btn btn-outline btn-primary" %>
      <div class="block ml-auto">
        <%= button_to "Deletar", @task, method: :delete, class: "btn btn-outline btn-error" %>
      </div>
    </div>
  </div>
</div>
