<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= student.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= student.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identifier:</strong>
    <%= student.identifier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reset senha:</strong>
    <%= student.ask_new_password %>
  </p>

</div>
