<div id="<%= dom_id test %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Input:</strong>
    <%= test.input %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Output:</strong>
    <%= test.output %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hidden:</strong>
    <%= test.hidden %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Task:</strong>
    <%= test.task_id %>
  </p>

</div>
