<!DOCTYPE html>
<html class="bg-base-200">
  <head>
    <title><%= content_for(:title) || "Cideclasse" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @bar == nil && session[:current_session_id] == "admin" %>
      <nav class="bg-base-300 text-base shadow-md">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="flex justify-between items-center py-4">
                  <!-- Logo (Mock Image) -->
                  <div class="flex items-center">
                      <img src="https://via.placeholder.com/50" alt="Logo" class="h-10 w-10">
                      <span class="ml-3 text-xl font-semibold">Cideclasse</span>
                  </div>

                  <!-- Links -->
                  <div class="space-x-8">
                    <a href="/klasses" class="hover:text-blue-500 font-medium">Turmas</a>
                    <a href="/student/welcome" class="hover:text-blue-500 font-medium">Alunos</a>
                    <a href="/tasks" class="hover:text-blue-500 font-medium">Tarefas</a>
                  </div>
              </div>
          </div>
      </nav>
    <% end %>


    <% if @sidebar == true %>
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <%= yield %>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu bg-base-300 text-base-content min-h-full w-40 p-1">
            <%= link_to dashboard_path do %>
              <%= image_tag("/logo1.png", style: "width: 100%") %>
            <% end %>
            <div class="divider w-full p-0 m-0"></div>
            <span class="select-none p-2 w-full pl-4">Turmas</span>
            <% if session[:current_session_id] != "admin" && session[:current_session_id] %>
              <% student = Session.find(session[:current_session_id]).student %>
              <% student.klasses.each do |klass| %>
                <li class="ml-4 whitespace-nowrap text-ellipsis overflow-hidden" style="width: calc(100% - 20px)"><a class="w-full whitespace-nowrap text-ellipsis overflow-hidden block" href="<%= dashboard_class_tasks_path(klass)%>"><%= klass.identifier %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
