<!-- bg-red-400 bg-green-400 -->

<div class="p-5">
  <h1 class="text-3xl font-bold text-center mb-8"><%= @task.title %></h1>

  <div style="min-height: 300px" class="mb-8">
    <%= @task.problem %>
  </div>

  <h1 class="font-bold text-4xl text-center mt-5 mb-5">Entrega de Tarefa</h1>

  <%= form_with(model: @submission, class: "contents") do |form| %>
    <div class="monaco bg-black" data-controller="editor" style="min-height: 300px"></div>
    <div class="my-5">
      <%= form.hidden_field :code, class: "block shadow rounded-md border border-base-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <%= form.hidden_field :task_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>

    <%= form.submit "Enviar", class: "ml-auto block rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer" %>
  <% end %>

  <h1 class="font-bold text-4xl text-center mt-10 mb-5">Tentativas <%= @previous_submissions.size %></h1>
  <%= turbo_frame_tag("kill-me", class: "block") do %>
    <div class="overflow-y-auto  rounded border-base-100 border-1 border-solid border p-3 mt-10" style="width: calc(100vw - 200px)">
      <div class="flex w-fit">
        <% @previous_submissions.each do |submission| %>
          <% total = submission.task.tests.count %>
          <% passed = submission.corrections.where(passed: true).count %>
          <%= link_to request.params.merge(inspect: submission.id), class: "h-5 w-5 bg-#{passed < total ? "red" : "green"}-400 rounded-full ml-2" do %>
          <% end %>
          <%=  %>
        <% end %>
      </div>
    </div>

    <div id="submission-inspect" class="w-full rounded border-base-100 border-1 border-solid border p-3 mt-10 my-10">
      <% if @inspected %>
        <div class="flex flex-col" style="min-height: 300px">
          <p>Código enviado:</p>
          <pre class="w-full bg-black overflow-y-auto"><%= @inspected.code == "" ? " " : @inspected.code %></pre>

          <% @inspected.corrections.joins(:test).where(test: {hidden: false}).each_with_index do |correction, i| %>
            <h3 class="mt-10 <%= correction.passed ? "text-green-500" : "text-red-500" %>">
              Teste <%= i+1 %>
          </h3>
          <p class="mt-5">input:</p>
          <pre class="mb-2 w-full bg-black overflow-y-auto"><%= correction.input %></pre>
          <p>output esperado:</p>
          <pre class="mb-2 w-full bg-black"><%= correction.test.output %></pre>
          <p>output retornado:</p>
          <pre class="mb-2 w-full bg-black overflow-y-auto"><%= correction.output == "" ? "empty" : correction.output %></pre>
        <% end %>


        <% @inspected.corrections.joins(:test).where(test: {hidden: true}).each_with_index do |correction, i| %>
          <h3 class="mt-10 <%= correction.passed ? "text-green-500" : "text-red-500" %>">
            Teste Oculto <%= i+1 %>
        </h3>
      <% end %>

        </div>
      <% else %>
        <div class="flex flex-col justify-center items-center" style="min-height: 300px">
          <div class="text-2xl text-base-100">
            Nenhum Envio Selecionado
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

