<div class="mx-auto w-4/5 pt-10">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @klass %>

    <%= button_to "gerar relotorio", klass_report_path(id: @klass.id) %>

    <% @klass.reports.each do |r| %>
      <div class="flex">
        <span class="mr-2">relatorio<%= r.id %></span> <%= link_to "download", r.result_url, class: "text-blue-500" if r.result %>
      </div>
    <% end %>

    <p>analisar resultados: <%= link_to "https://jplag.github.io/JPlag/", "https://jplag.github.io/JPlag/", class: "text-blue-500" %></p>

    <h1 class="text-2xl font-bold mb-4 text-center">Alunos</h1>

    <% tasks_total = @klass.tasks.size %>

    <div class="flex border-b border-solid border-primary bg-secondary px-4 py-2">
      <div>Nome</div>
      <div class="ml-auto">Tarefas Completas</div>
    </div>
    <% @klass.students.each do |student| %>
      <div class="flex border-b border-solid border-primary px-4 py-2">
        <%= student.name %>
        <% completed_tasks = 0 %>
        <% @klass.tasks.each do |task| %>
          <% completed_tasks += 1 if student.submissions.where(task: task, passed: true).count > 0 %>
        <% end %>
        <div class="block ml-auto">
          <%= completed_tasks %> / <%= tasks_total %>
        </div>
      </div>
    <% end %>

    <br>
    <br>

    <div class="flex">
      <%= link_to "Editar", edit_klass_path(@klass), class: "btn btn-outline btn-primary" %>
      <%= link_to "Voltar", klasses_path, class: "ml-1 btn btn-outline btn-primary" %>
      <div class="block ml-auto">
        <%= button_to "Deletar", @klass, method: :delete, class: "btn btn-outline btn-error" %>
      </div>
    </div>
  </div>
</div>
