<div class="mx-auto w-4/5 w-full pt-10">
  <h1 class="text-2xl font-bold mb-6 text-center">Adicionar Alunos na Turma</h1>

  <%= form_with(url: students_search_klass_path, method: :post) do |form| %>
    <div class="mb-6">
      <div class="flex">
        <%= form.text_field :query, class: "w-full p-3 border border-base-100 shadow-sm focus:outline-none focus:ring focus:ring-blue-200 rounded-l h-[48px]", placeholder: "busca por nome" %>
        <%= form.submit "Buscar", class: "btn btn-primary rounded-l-none" %>
      </div>
    </div>
  <% end %>


  <!-- List of Students to Add -->
  <div class="mb-6">
    <h2 class="text-lg font-semibold mb-2">Alunos Encontrados</h2>
    <%= render(partial: "klasses/students_search", locals: {students_search: [], klass: @klass}) %>
  </div>

  <!-- List of Students in Class -->
  <div class="mb-6">
    <h2 class="text-lg font-semibold mb-2">Alunos Cadastrados na Turma</h2>
    <ul id="class-student-list" class="border border-base-100 rounded-md p-4 space-y-2">

      <!-- Dynamically filled student list -->

      <% @klass.students.each do |student| %>
        <li class="flex justify-between items-center">
          <span><%= student.name %></span>
          <%= button_to "remover", leave_klass_path(id: student.id, klass_id: @klass.id), method: :delete, class: "px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
