<div class="max-w-2xl mx-auto shadow-md rounded-lg p-6">
  <h1 class="text-2xl font-bold mb-4">Gerenciar Tarefas</h1>

  <%= form_with(url: tasks_search_klass_path, method: :post) do |form| %>
    <div class="mb-6">
      <label for="student-search" class="block text-gray-300 font-semibold mb-2">Buscar tarefas</label>
      <div class="flex">
        <%= form.text_field :query, class: "w-full p-3 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200", placeholder: "busca por título" %>
        <%= form.submit "Buscar", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>


  <div class="mb-6">
    <h2 class="text-lg font-semibold mb-2">Tarefas Descobertas</h2>
    <%= render(partial: "klasses/tasks_search", locals: {tasks_search: [], klass: @klass}) %>
  </div>

  <div class="mb-6">
    <h2 class="text-lg font-semibold mb-2">Tarefas da turma</h2>
    <ul id="class-student-list" class="border rounded-md p-4 space-y-2">

      <% @klass.tasks.each do |task| %>
        <li class="flex justify-between items-center">
          <span><%= task.title %></span>
          <%= button_to "remover", remove_task_from_klass_path(id: @klass.id, task_id: task.id), method: :delete, class: "px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
